@model IEnumerable<Day1Homework.Models.ViewModels.MyViewModel>
@{
    Layout = null;
}
@using Day1Homework.Helpers;
@using PagedList
@using PagedList.Mvc
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別(HTML Helper)</th>
                <th>練習類別(Razor Helper)</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @*資料筆數：@Model.Count()*@
            @{

                int i = ((int)ViewData["pageIndex"] - 1) * (int)ViewData["pageSize"];
                foreach (var myClass in Model)
                {
                    i++;

                    <tr>
                        <td>@i</td>
                        <td>@myClass.CategoryWithColor()</td>@*練習用Html helper*@
                        <td>@CategoryColumn(@myClass.Category)</td>@*練習用Razor helper*@
                        <td>@myClass.Date.ToString("yyyy-MM-dd")</td>
                        <td>@myClass.Amount.ToString("#,#")</td>
                    </tr>
                }
            }
        </table>

        <nav>
            @Html.PagedListPager((IPagedList)Model, d => Url.Action("index", new
{
    page = d
}))

        </nav>

    </div>
</div>

@using Day1Homework.Models.ViewModels
@helper CategoryColumn(EnumCategory category)
{
    switch (category)
    {
        case EnumCategory.支出:
                <span class="text-danger">@category</span>
            break;
        case EnumCategory.收入:
                <span class="text-primary">@category</span>
            break;
        default:

            break;
    }
}
